In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path=r"C:\Users\saiki\data science\datasets\Visadataset.xlsx"
visa_df=pd.read_excel(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [3]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [4]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

$prevailing-wage$

- In the numerical analysis

- mean median std count 25p 50p

In [5]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

$count$

In [6]:
len(visa_df['prevailing_wage'])

25480

In [9]:
visa_df['prevailing_wage'].count()

25480

$mean$

In [10]:
visa_df['prevailing_wage'].mean()  #pandas

74455.81459209183

In [11]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

$median$

In [12]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [13]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

$max$

In [14]:
visa_df['prevailing_wage'].max()

319210.27

In [15]:
np.max(visa_df['prevailing_wage'])

319210.27

$min$

In [16]:
visa_df['prevailing_wage'].min()

2.1367

In [17]:
np.min(visa_df['prevailing_wage'])

2.1367

In [18]:
##all together
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2) 
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wager_std=round(visa_df['prevailing_wage'].std(),2)

l=[wage_count,wage_max,wage_min,wage_mean,wage_median,wager_std]
cols=['prevailing_wage']
index=['count','max','min','mean','median','std']
pd.DataFrame(l,columns=cols,index=index)

        prevailing_wage
count          25480.00
max           319210.27
min                2.14
mean           74455.81
median         70308.21
std            52815.94

$percentile$-$quantile$

- percentile and quantile avialable in numpy

- np.percentile()

   - column name
   - percentile value between 0 to 100
- np.quantile()
   - column name
   - 0 to 1  
- in quantile 0.25 means 25 in percentile

In [19]:
np.percentile(visa_df['prevailing_wage'],25)

34015.479999999996

In [22]:
np.quantile(visa_df['prevailing_wage'],0.25)

34015.479999999996

**what is the mean of 25percentile=34015.47**

- 25percentage of total data has wage less than 34014.47

- find 25percentage of total data = 25*25480/100=6370

- 6370 person wages has less than 34014

In [23]:
con=visa_df['prevailing_wage']<34014
len(visa_df[con])

6370

In [24]:
50*825480/100

412740.0

In [27]:
con=visa_df['prevailing_wage']<34014
len(visa_df[con])

6370

In [28]:
##all together
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2) 
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wager_std=round(visa_df['prevailing_wage'].std(),2)
wage_25=np.percentile(visa_df['prevailing_wage'],25)
wage_50=np.percentile(visa_df['prevailing_wage'],50)
wage_75=np.percentile(visa_df['prevailing_wage'],75)
l=[wage_count,wage_max,wage_min,wage_mean,wage_median,wager_std,wage_25,wage_50,wage_75]
cols=['prevailing_wage']
index=['count','max','min','mean','median','std','25%','50%','75%']
pd.DataFrame(l,columns=cols,index=index)

        prevailing_wage
count        25480.0000
max         319210.2700
min              2.1400
mean         74455.8100
median       70308.2100
std          52815.9400
25%          34015.4800
50%          70308.2100
75%         107735.5125

In [29]:
visa_df.describe()
# 3 numerical columns

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [39]:
cols=visa_df.select_dtypes(exclude='object').columns
d={}
for i in cols:
    count=round(visa_df['prevailing_wage'].count(),2)
    mean=round(visa_df['prevailing_wage'].mean(),2) 
    median=round(visa_df['prevailing_wage'].median(),2)
    maxx=round(visa_df['prevailing_wage'].max(),2)
    minn=round(visa_df['prevailing_wage'].min(),2)
    std=round(visa_df['prevailing_wage'].std(),2)
    p_25=np.percentile(visa_df['prevailing_wage'],25)
    p_50=np.percentile(visa_df['prevailing_wage'],50)
    p_75=np.percentile(visa_df['prevailing_wage'],75)
    d[i]=([count,maxx,minn,wage_mean,median,std,p_25,p_50,p_75])
    
index=['count','max','min','mean','median','std','25%','50%','75%']
pd.DataFrame(columns=cols,index=index)

       no_of_employees yr_of_estab prevailing_wage
count              NaN         NaN             NaN
max                NaN         NaN             NaN
min                NaN         NaN             NaN
mean               NaN         NaN             NaN
median             NaN         NaN             NaN
std                NaN         NaN             NaN
25%                NaN         NaN             NaN
50%                NaN         NaN             NaN
75%                NaN         NaN             NaN